# XAMPP Files
/apache
/bin
/cgi-bin
/contrib
/install
/licenses
/locale
/mysql
/obj
/perl
/php
/phpMyAdmin
/security
/tmp
/apache_start.bat
/apache_stop.bat
/mysql_start.bat
/mysql_stop.bat
/changes.txt
/passwords.txt
/readme_de.txt
/readme_en.txt
/setup_xampp.bat
/test_php.bat
/xampp-control.ini
/xampp-control.exe
/xampp-control.log
/xampp_start.exe
/xampp_stop.exe

# Visual Studio Files
*.suo
*.csproj.user
bin
obj

# Python
__pycache__

# node.js
node_modules

# Uploaded Files
/htdocs/uploads
/htdocs/video

# Untracked Files
_old
/htdocs/forbidden/*
/htdocs/restricted/*
/htdocs/xampp/*
/htdocs/css/admin/*.css
/htdocs/css/scoring/*.css
/htdocs/fonts/seg*.ttf
/htdocs/js/admin/*.js
/htdocs/js/admin/*.js.map
/htdocs/js/install/*.js
/htdocs/js/install/*.js.map
/htdocs/js/scoring/*.js
/htdocs/js/scoring/*.js.map
/htdocs/xampp/.htaccess
/node/*.js
/node/*.js.map
/node/*/*.js
/node/*/*.js.map
!/node/compile.js

Thumbs.db
