@import "../admin/colors.less";

html {
	padding-top: 64px;
}

body {
	padding-bottom: 64px + 30px;
}

.back-button {
	float: none;
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 1000;
}

body > h1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 100px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	border-left: 10px solid @neutral;
}

body.red > h1 {
	border-color: @red;
	.bar-left(10px, fade(@red, 20));
}

body.blue > h1 {
	border-color: @blue;
	.bar-left(10px, fade(@blue, 20));
}

body.green > h1 {
	border-color: @green;
	.bar-left(10px, fade(@green, 20));
}

body.yellow > h1 {
	border-color: @yellow;
	.bar-left(10px, fade(@yellow, 30));
}

#field {
	padding: 20px;
	margin-left: -40px;
	margin-right: -40px;

	overflow: auto;
}

table.field {
	min-width: 700px;
	min-height: 700px;
	
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;

	td:not(.out):not(.source):not(.spin):hover {
		background-color: @active !important;
	}

	
}

#batteries {
	overflow: hidden;
	margin-bottom: 20px;

	h2 {
		color: @field-border;
	}

	h2, div {
		float: left;
	}
	
	.battery + h2 {
		margin-left: 20px;
	}

	.battery {
		margin-left: 10px;
		width: 48px;
		height: 48px;
		border: 2px dashed @field-border;

		font-size: 32px;
		line-height: 44px;
		text-align: center;
		color: darken(@background, 20);
	}

	.battery.owned {
		border-style: solid;
		color: @field-border;
	}
}

body.red #batteries .battery.colored.owned {
	border-color: @red;
	color: @red;

	&:hover { background-color: fade(@red, 50); }
}

body.blue #batteries  .battery.colored.owned {
	border-color: @blue;
	color: @blue;

	&:hover { background-color: fade(@blue, 50); }
}

body.green #batteries  .battery.colored.owned {
	border-color: @green;
	color: @green;

	&:hover { background-color: fade(@green, 50); }
}

body.yellow #batteries  .battery.colored.owned {
	border-color: darken(@yellow, 10);
	color: darken(@yellow, 10);

	&:hover { background-color: fade(@yellow, 50); }
}


#buttons {
	overflow: auto;
	button {
		float: left;
		margin: 0 10px 10px 0;
		min-width: 150px;
	}
}

#emergency {
	border-color: @delete;
	color: @delete;
}

ul.actionselect {
	list-style: none !important;
	margin: 0;

	li {
		margin: 20px 0;

		a {
			padding: 10px 0;
			display: block;
			clear: both;
			line-height: 1.5;
		}

		a:hover {
			background: fade(#008a66, 70%);
		}

		a:before {
			content: ' ';
			display: block;
			float: left;
			width: 40px;
			height: 40px;
			margin-right: 10px;

			text-align: center;

			background: fade(#008a66, 70%);
		}

		a.battery:before {
			content: '⚡';
		}

		a.drop:before {
			font-family: 'Segoe Command';
			content: '';
		}
	}
}

body.red a.take:before { background: @red; }
body.blue a.take:before { background: @blue; }
body.green a.take:before { background: @green; }
body.yellow a.take:before { background: @yellow; }



@media (min-height: 990px) {
	body {
		padding-bottom: 0;
	}
}